@import "normalize.css/normalize"
@import url(https://fonts.googleapis.com/css?family=Raleway)
@import url(https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:400,400italic,700italic,700|Kaushan+Script|Amaranth:400,400italic,700italic,700|Rambla:400,400italic,700,700italic);


body
  font-family: "Raleway", sans-serif
  color: #162936


//// Splash Page ////

.splash
  // display: flex
  // flex-direction: column

.header
  width: 100%
  height: 80px
  background-color: #fff
  li
    display: inline-block
    float: right
    list-style: none
    font-family: "Raleway"
    a
      position: relative
      margin: 15px 25px
      outline: none
      color: #162936
      opacity: .80
      text-decoration: none
      letter-spacing: 1px
      font-weight: 400
      text-shadow: 0 0 1px rgba(255,255,255,0.3)
      font-size: 1.35em
    a:link
      text-decoration: none
      color: #162936
    a:visited
      text-decoration: none
      color: #162936

  *
  *:after
  *::before
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box

.nav-effect a:hover
.nav-effect a:focus
	// outline: none

.nav-effect a
  padding: 12px 10px 10px
  color: #162936
  text-shadow: none
  font-weight: 700

.nav-effect a::before,
.nav-effect a::after
  position: absolute
  top: 100%
  left: 0
  width: 100%
  height: 3px
  background: #162936
  content: ''
  -webkit-transition: -webkit-transform 0.3s
  -moz-transition: -moz-transform 0.3s
  transition: transform 0.3s
  -webkit-transform: scale(0.85)
  -moz-transform: scale(0.85)
  transform: scale(0.85)

.nav-effect a::after
  opacity: 0
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s
  transition: top 0.3s, opacity 0.3s, transform 0.3s

.nav-effect a:hover::before
.nav-effect a:hover::after
.nav-effect a:focus::before
.nav-effect a:focus::after
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  transform: scale(1)

.nav-effect a:hover::after
.nav-effect a:focus::after
  top: 0%
  opacity: 1

////////////////////////////////

.dropdown
  position: relative
  font-family: "Raleway"
  &:hover > .drop-nav
    display: block

.drop-nav
  font-size: .8em
  background-color: #fff
  position: absolute
  margin-top: 40px
  border-radius: 2px
  width: 200px
  height: 200px
  display: none
  z-index: 9000
  box-shadow: 0 0 10px #000
  li
    // margin-left: -100px
    font-family: "Raleway"

.login
  background-color: #fff
  display: flex
  align-self: flex-end
  margin-top: 10px
  border-radius: 4px
  outline: none

.button
  border-radius: 6px
  background-color: #fff
  outline: none
  &:hover
    background-color: #5F914E

#logout
  a:link
    text-decoration: none
    color: #162936
  a:visited
    text-decoration: none
    color: #162936
  a:hover
    color: #162936
    line-height: 2em

.checkbox
  margin-left: 20px

#newAccount
  font-family: "Raleway"
  margin-left: -30px
  margin-bottom: 20px
  font-size: .7em
  a:link
    color: #464646
  a:visited
    color: #464646
  a:hover
    color: #5F914E

.splash-image
  // margin-top: -80px
  background-image: url("../images/plums.jpeg")
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 90vh
  @media screen and (max-width: 320px)
    .splash-image
      height: 400px
  h1
    // font-family: "Kaushan"
    font-family: "Lobster Two"
    // font-family: "Lobster"
    position: absolute
    font-style: italic
    opacity: .9
    color: #162936
    font-size: 8em
    margin-left: 1100px
    margin-top: 200px
  h4
    position: absolute
    margin-top: 350px
    font-family: "Raleway"
    font-style: italic
    margin-left: 1200px
    font-size: 2.5em
    color: #162936

#arrow
  height: 60px
  width: 60px
  position: absolute
  bottom: 40px
  left: 50%
  margin-left: -50px

//// Footer ////

.footer
  // height: 75px
  // width: 100%
  // text-align: center
  // padding: 20px
  // background-color: green

//// Thumbnails ////

.thumbnail-container
  display: flex
  flex-direction: row
  background-image: url("../images/burlap.jpg")
  // position: absolute

  a:link
    text-decoration: none
    color: white
  a:visited
    text-decoration: none
    color: white

  .thumbnail
    flex: 1
    position: relative
    border-radius: 4px
    height: 600px
    margin: 60px
    color: #fff
    font-family: "Raleway"
    background-size: cover
    h2
      text-align: center
    p
      text-align: center
      font-size: 1.1em

    &:first-child
      margin-right: 0

    &:last-child
      margin-left: 0

    .thumb-text
      padding-bottom: 100px
      transition: all 0.25s ease-in-out
      background-color: rgba(25, 25, 25, 0.9)
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: 20px

      &:hover
        background-color: rgba(50, 50, 50, 0.5)
        transition: all 0.25s ease-in-out
        padding-bottom: 100px


@media screen and (max-width: 900px)
  .thumbnail-container

    flex-direction: column

    .thumbnail
      height: 500px

      &:first-child
        margin-right: 60px
        margin-bottom: 0

      &:last-child
        margin-left: 60px
        margin-top: 0


#thumb-1
  background-image: url("../images/kitchen.jpeg")

#thumb-2
  background-image: url("../images/corn.jpeg")

#thumb-3
  background-image: url("../images/pear.jpeg")


//// Supporters ////

.supporters-title
  color: #162936
  opacity: .8
  height: 100px
  margin: 0
  text-align: center
  font-size: 1.1em

.supporters
  margin-bottom: 20px
  display: flex
  align-items: center
  justify-content: center

  > a
    text-align: center
    display: block
    padding: 10px
    flex: 1

@media screen and (max-width: 900px)
  .supporters
    flex-direction: column

//// Registration Navigation ///

.registrationHeader
  width: 100%
  height: 100px
  font-size: 2em
  background-color: #fff
  margin-top: -25px
  .RegistrationNav
    margin-right: 20px
  li
    display: inline-block
    float: right
    padding: 15px
    list-style: none
    font-family: "Raleway"
  a:link
    text-decoration: none
    color: black
  a:visited
    text-decoration: none
    color: #464646
  a:hover
    color: #464646
    line-height: 2em
    transition: all 0.5s ease-in-out

//// User Setup ////

.container-step-1
  height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  background-image: url("../images/vegetables.jpg")

.step-1
  height: 600px
  border-radius: 6px
  width: 40%

.form-fields-1
  border-radius: 6px
  background-color: #fff
  margin-top: -20px
  padding: 20px
  margin-top: 100px
  li
    list-style: none
    font-size: 1.5em
  input
    width: 100%
    border-radius: 6px
    margin-top: 10px
    margin-bottom: 10px
    outline: none

#setUpButton
  background-color: #fff
  margin-top: 20px
  align-items: center
  border-radius: 6px
  outline: none
  &:hover
    background-color: #5F914E

//// Survey Fields ////

.radio-button
  padding-right: 20px
  padding-left: 10px
  outline: none

#radio
  outline: none

.role-header
  margin-left: -10px

.container-step-2
  height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  background-image: url("../images/pasta.jpeg")
  background-size: cover

.step-2
  margin-top: 100px
  height: 600pxauto
  border-radius: 6px
  width: 40%
  background-color: #fff
  li
    list-style: none
    font-size: 1.5em

.drop-form-div
  display: flex
  flex-direction: column

.drop-form
  margin-left: -50px
  margin-top: -20px
  width: 100%
  input
    width: 100%
    border-radius: 6px
    margin-top: 10px
    margin-bottom: 10px
    outline: none

#surveyButton-1
  margin-top: 20px
  margin-right: 20px
  width: 100px
  background-color: #fff
  border-radius: 6px
  outline: none
  &:hover
    background-color: #5F914E

#surveyButton-2
  width: 200px
  // margin-left: 40px
  background-color: #fff
  border-radius: 6px
  outline: none
  &:hover
    background-color: #5F914E

.availability
  display: inline-flex
  flex-direction: row
  padding: 10px

#from
  margin-right: 10px

#from-input
  width: 140px

#to
  padding-left: 10px
  padding-right: 10px

#to-input
  width: 140px

//// Confirmation ////

.step-3
  height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  background-image: url("../images/corn.jpeg")
  background-size: cover
  .form-fields-3
    width: 500px
    margin-top: 100px
    padding: 20px
    width: 35%
    background-color: #fff
    border-radius: 6px
    height: auto
    li
      list-style: none
      font-size: 1.5em

#confirmButtons
  display: inline-flex
  border-radius: 6px

#confirmButton-1
  width: 100px
  margin-right: 20px
  background-color: #fff
  border-radius: 6px
  outline: none
  &:hover
    background-color: #5F914E

#confirmButton-2
  width: 250px
  background-color: #fff
  border-radius: 6px
  outline: none
  &:hover
    background-color: #5F914E

//// About ////

.aboutContainer
  position: absolute
  background-image: url("../images/oranges.jpeg")
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.aboutContent
  width: 80%
  margin-left: 150px
  color: #eeeeee
  text-shadow: 0 0 10px #000
  line-height: 2.1em
  p
    font-size: 1.3em
  a:link
    color: #eeeeee
    text-decoration: none
  a:visited
    color: #eeeeee
  a:hover
    color: #5F914E
  h2
    font-family: "Raleway"
    padding-top: 20px

//// Profile ////

.profile-container
  margin-top: -35px

#profile-header
    width: 100%
    height: 100px
    font-size: 2em
    .nav
      margin-right: 20px
    li
      display: inline-block
      float: right
      padding: 15px
      list-style: none
      font-family: "Raleway"
    a:link
      text-decoration: none
      color: #464646
    a:visited
      text-decoration: none
      color: #464646
    a:hover
      color: #464646
      line-height: 2em
      transition: all 0.1s ease-in-out

.profile-body
  background-image: url("../images/lemons.jpeg")
  background-size: cover
  border-radius: 6px
  color: #464646
  display: in-block
  float: right
  text-align: center
  height: 750px
  width: 75%
  border-left: 1px solid
  display: flex
  flex-direction: column
  align-items: center
  li
    list-style: none

.profile-form
  margin-top: 100px
  height: 500px
  background-color: #fff
  border-radius: 6px
  width: 600px
  font-size: 1.3em
  text-transform: center
  display: flex
  flex-direction: column
  label
    font-size: 1.3em
    margin-left: -38px

#donation-location
  width: 550px
  height: 40px
  margin-left: -38px
  margin-top: 15px
  margin-bottom: 15px
  border-radius: 6px
  outline: none

#donation-instructions
  width: 550px
  height: 100px
  margin-left: -38px
  margin-top: 15px
  border-radius: 6px
  outline: none

.account-info
  margin-left: 40px

.profile-sidebar
  display: block
  float: left
  height: 750px
  background-color: #fff
  width: 24.9%
  margin-right: -50px
  font-size: 1.5em
  li
    list-style: none
    margin-right: 40px
  h3
    margin-top: 100px

#go-button
  margin-left: 20px
  width: 100px
  height: 45px
  font-size: 1.3em
  border-radius: 6px
  background-color: #fff
  outline: none
  &:hover
    background-color: #5F914E

//// CONTACT ////

.contact-container
  width: 100%
  // position: absolute
  height: 100vh
  background-image: url("../images/vegetables.jpg")
  background-size: cover
  color: #464646
  text-align: center

.contact-div
  display: flex
  flex-direction: column
  .contact
    margin-top: 100px
    display: flex
    flex-direction: column
    align-self: center
    height: 500px
    width: 600px
    background-color: #fff
    border-radius: 6px
    li
      list-style: none
      // label
      //   font-size: 1.8em
      // input
      //   margin-left: -40px
      //   margin-bottom: 10px
      //   font-size: 1.8em
      //   border-radius: 6px
      //   width: 100%
      h1
        text-align: center
        margin-left: -40px
      p
        text-align: center
        margin-left: -40px
        font-size: 2em

#comment
  height: 100px auto

// RESPONSIVE ////

// @media (max-width: 470px):
//
//   .thumbnail:
//     margin: 50px
//     width: 25%
